<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="主页.asp" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=iZ28d7ego7cZ;Database=维修;User ID=saaa;Password=qazpl2010." name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
